:root {
    --color-bg: #040408;
    --color-fg: #33678a;
    --color-link: #486fcc;
    --color-link-visited: #486fcc;
    --color-link-hover: #6ec6ff;
}

html, body {
    background: var(--color-bg);
    color: var(--color-fg);
    font-family: "Fira Code";
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 460px 600px 1fr;
    grid-template-areas:
        ". left right .";
    column-gap: 80px;
    justify-items: center;
    align-items: center;
    min-height: 100%;
}

.left-container {
    grid-area: left;
    aspect-ratio: 1/1;
}

.right-container {
    grid-area: right;
    height: 70%;
    width: 100%;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    padding-top: 50px;
}

.category {
    display: flex;
    flex-direction: column;
    width: 180px;
}

.bookmarks {
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    font-size: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
}


li {
    font-size: 16px;
    list-style-type: none;
    padding: 5px;
}

a:link {
    text-decoration: none;
    color: var(--color-link);
}

a:visited {
    color: var(--color-link-visited);
}

a:hover {
    color: var(--color-link-hover);
}

.blinking {
    animation: opacity 1s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}